@use '../../assets/styles/styles.scss' as g;
.works h2{
    text-align: center;
    @include g.text-max;
    @include g.sora;
    color: g.$primary-black;
}
.works__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15em, 100%), 1fr));
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 4em 0;
}