@use '../../assets/styles/styles.scss' as g;
.landing__page{
    display: flex;
    flex-direction: column;
    // align-items: ;
    gap: 2em;
    width: 100%;
    max-width: 80em;
    padding: 0 4%;
    margin: 0 auto;
}
.first__sec h1 {
    color: g.$primary-black;
    @include g.text-max;
    padding: 0;
    margin: 0;
}
.socials .socials__title{
    @include g.text-header;
    font-weight: bold;
    color: g.$primary-900;
    margin-bottom: .5em;
}
.socials .socials__list{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

// //second sec
.second__sec .transcribe{
    margin-top: 1.5em;
}
.transcribe h3 {
    color: #000;
    margin-bottom: .4em;
    @include g.text-base;
    @include g.sora;

}
.transcribe select {
    color: #9D9D9D;
    @include g.text-sm;
    border-radius: .3em;
    padding: .2em;
    margin-bottom: 2em;
}
.transcribe .transcript{
    display: flex;
    gap: 1em;
    color: #000;
    @include g.text-sm;
    margin-bottom: 1em;
}

//responsive
@include g.desktop{
    .landing__page{
        flex-direction: row;
        gap: 5em;
    }
    .first__sec{
        width: 60%;
    }
}